*
{
    margin:0;
    padding:0px;
    box-sizing:border-box;
    text-decoration: none;
   
 
}
 body{
    background-color:white;
 }
    /* background-image: "assets/html-css-javascript.webp"; */
    /* background-repeat: repeat;
    background-size: cover;
    background-position: 100%; */
    /* background-image: url("assets/html-css-javascript.webp"); */

    /* Full height */
    /* height: 100%; */
  
    /* Center and scale the image nicely */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
 }*/

.max-width
{
    max-width: 1300px;
    /* padding:0 80px; */
    margin:auto;
}
.logo a{
    color: lightskyblue;
    margin-left: 30px;

}
    .navbar
    {
        position:fixed;
        width:100%;
        padding:15px 0;
        background:navy;
        font-family: sans-serif;
    }

    .navbar .max-width
    {
        display:flex;
        align-items: center;
        justify-content: space-between;

    }
    .navbar .logo .a{
        color:#fff;
        font-size: 350px;
        font-weight:600;

    }
    .navbar .logo a span{
        color:navy;
    }
    .navbar .menu li{
        list-style:none;
        display:inline-block;
    }
    .navbar .menu li a{
        color:#fff;
        font-size:18px;
        font-weight:500;
        margin-left:25px;
    }
    .navbar .menu li a:hover{
        color:lightskyblue;
    }

    .menu-btn
    {
        color:#fff;
        font-size:23px;
        cursor:pointer;
        display:none;
    }
    .home
    {
        display:flex;
        background: url("assets/blue.jpg")no-repeat center;
        height:100vh;
        font-family: sans-serif;
    
    }
    .home .max-width{
        margin:auto 0 auto 40px;
    }
  /* .text-1
    {
        color: black;
        font-size:20px;
    } */
    .home .home-content .text-2
    {
        font-size:45px;
        font-weight:600;
        margin-left:40px;
        margin-top: 170px;
    }
    .home .home-content .text-3{
        font-size:20px;
        margin-left:40px;
    }
    .home .home-content .text-3 span
    {
        color:navy;
        font-weight:500;
    }
    .home .home-content a{
        display:inline-block;
        background:navy;
        color:lightskyblue;
        font-size:25px;
        padding: 12px 36px;
        margin-top:20px;
        border-radius:6px;
        border:2px solid navy;
        transition:all 0.3s ease;

    }
    .home .home-content a:hover{
        color:lightsteelblue;
        background: none;
    }
    .flex-container{
        display:flex;
        height:400px;
        /* 300px */
        margin-left: 14%;
        margin-right: 14;
        
        width: 150vh;
        /* intial value 900px */
        /* width:95%; */
        /* border: solid black; */
        border-radius: 20px;
        box-shadow: 5px 10px 8px 10px #e7dada;
        margin-top: 80px;
        justify-content: space-evenly;
        /* background-color: DodgerBlue; */
    }
    .flex-container >div{
        width:40%;
        /* background-color:red; */
        margin: 20px;
        margin-right: 8px;;
    }
    .flex-container img{
        margin-top: 6px;
        /* margin-left: 10px; */
        height:45vh;
        width:60vh;
    }
    #text{
        margin: 10px;
        /* margin: 5px; */
        color: black;
        font-size: 40x;
        line-height: 20px;
    
    }
     .cont{
        background-color: lightskyblue;
        margin-top: 100px;
        margin: 40px;
        margin-left: 12%;
        width:160vh;
    }
    .form1{
    
        width: 500px;
        height: 500px;
        
    
    }
    label{
        color: white;
    }
    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      background-color: #2E4586;
      border: 1px solid;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      
    }
    
    input[type=submit] {
      background-color: navy;

      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      color: white;
    }
    
    input[type=submit]:hover {
      background-color: lightskyblue;
     
    }
    
    .content{
        height: 500px;
        width: 170vh;
        margin:40px;
        float: left;
        background-image:url(image.jpg);
        /* background-repeat: no-repeat; */
        background-size: cover;
        background-position: center;
    
    }
    .container {
      border-radius: 5px;
      background-color: lightskyblue;
      padding: 20px;
      width: 95%;
        height: 700px;
        width: 1130px;
        max-width: 95%;
        margin: 40px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    h3{
        color:white;
        font-size:30px;
        text-align: left;
        margin-top: 120px;
        margin-left: 20px;
    }
    .contact{
     color: #FCA738;
     margin-top: 50px;
     font-size: 20px;
     text-align: left;
     margin-left: 20px;
    }
/***************portfolio section**************/
    .portfolio{
        height: 300px;
        width:150vh;
        /* margin-left: 4%; */
    
        
       /* display: flex; */
        /* flex-wrap: wrap; */
        /* justify-content: space-around; */
        /* background-color: #6495ED; */
        /* padding: 40px; */
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        margin:20px;
        padding: 0px 60px;
        justify-content:space-around;
        

    }
    .portfolio >div{
        margin:23px;
        /* margin-right: 60px; */
        padding: 20px;
        height: 200px;
        width: 20vh;
        /* background-color: blue; */
    }
    .people{
        width:160vh;
        margin :40px;
        height:90vh;
        margin-left: 12%;
        /* background-color: blue; */
        display: flex;
         border-radius: 20px;
        box-shadow: 5px 10px 8px 10px #e7dada;
        border-bottom: solid 80px navy;
    }
    .people > div{
        /* background-color: cornsilk; */
        margin:20px;
        width: 50vh;
        height: 70vh;

    }
    .people > div >div{
        /* background-color: red; */
        margin:15px;
        width: 30h;
        height: 28vh;
        padding: 25px;

    }
      footer {
        text-align: center;
        height: 50px;
        padding: 10px;
        background-color: navy;
        color: white;
      }
      .foot{
          color:white;
          font-size: 20px;
          margin-top: 10px;
      }
